@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* custom properties */
:root {
  /* goal background image */

  --goal: url(../game-assets/goal.png);

  /* gk background image */

  --gk: url(../game-assets/gk-center.png);
  --gk--fail-blocking: url(../game-assets/gk--fail-blocking.png);
  --gk--succeed-blocking: url(../game-assets/gk--succeed-blocking.png);
  --gk--hit-by-power-ball: url(../game-assets/gk--hit-by-power-ball.png);

  /* gk moving */

  --gk--right--moving-X: 26vw;
  --gk--right--moving-Y: -10vh;

  --gk--left--moving-X: calc(var(--gk--right--moving-X) * -1);
  --gk--left--moving-Y: var(--gk--right--moving-Y);

  /* ball moving */

  --ball--right--moving-X: 26vw;
  --ball--right--moving-Y: -50vh;

  --ball--left--moving-X: calc(var(--ball--right--moving-X) * -1);
  --ball--left--moving-Y: var(--ball--right--moving-Y);

  /* power ball moving */

  --power-ball--right--moving-X: 26vw;
  --power-ball--right--moving-Y: -45vh;

  --power-ball--left--moving-X: calc(var(--power-ball--right--moving-X) * -1);
  --power-ball--left--moving-Y: var(--power-ball--right--moving-Y);

  /* rotate degree */

  --clockwise-rotate: 25deg;
  --clockwise-rotate-add-90: calc(var(--clockwise-rotate) + 90deg);
  --clockwise-rotate-add-180: calc(var(--clockwise-rotate) + 180deg);
  --clockwise-rotate-add-270: calc(var(--clockwise-rotate) + 270deg);
  --clockwise-rotate-add-360: calc(var(--clockwise-rotate) + 360deg);

  --anticlockwise-rotate: calc(var(--clockwise-rotate) * -1);
  --anticlockwise-rotate-minus-90: calc(var(--anticlockwise-rotate) - 90deg);
  --anticlockwise-rotate-minus-180: calc(var(--anticlockwise-rotate) - 180deg);
  --anticlockwise-rotate-minus-270: calc(var(--anticlockwise-rotate) - 270deg);
  --anticlockwise-rotate-minus-360: calc(var(--anticlockwise-rotate) - 360deg);

  --power-ball-rotate: 150deg;
}

/* whole screen view */

main {
  width: 100vw;
  height: 100vh;
  padding: 0 0 0 1vw;
  display: flex;
}

/* left screen block */

.game__view {
  display: inline-block;
  width: 75%;
  height: 100%;
}

.game__view::before {
  content: "";
  width: 75vw;
  height: 50vh;
  position: absolute;
  opacity: 0.8;
  background: var(--goal) no-repeat center center/cover;
}

.game__view__action-area {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* left action-area */

.game__view__action-area__left-arrow {
  transform: rotate(var(--anticlockwise-rotate));
}

.game__view__action-area__left-arrow:hover {
  transform: scale(1.2, 1.2) rotate(var(--anticlockwise-rotate));
}

.game__view__action-area__right-arrow {
  transform: rotate(var(--clockwise-rotate));
}

.game__view__action-area__right-arrow:hover {
  transform: scale(1.2, 1.2) rotate(var(--clockwise-rotate));
}

.game__view__action-area__left-arrow,
.game__view__action-area__right-arrow {
  width: 15vw;
  height: 40vh;
  position: relative;
  top: 30vh;
}

/* center action-area */

.game__view__action-area__center {
  width: 20%;
  max-width: 120px;
  min-width: 80px;
  height: fit-content;
  position: relative;
  top: 20%;
}

.game__view__action-area__center__gk {
  height: 40vh;
  background: var(--gk) no-repeat;
  background-size: contain;
  position: relative;
  z-index: 2;
}

.game__view__action-area__center__gk:hover {
  animation: gk-jump 0.5s 2;
}

.game__view__action-area__center__ball {
  position: relative;
  top: 17vh;
  z-index: 2;
}

.power-ball-img {
  display: none;
  transform: scale(1.4);
  position: relative;
  top: -7vh;
}

/* right screen block */

.game__sidebar {
  display: inline-block;
  width: 25%;
  padding: 5px;
  text-align: center;
  position: relative;
}

.game__sidebar__scoreboard {
  background-color: rgb(128, 172, 207);
  width: 50%;
  margin: 0 auto;
  padding: 0 2px;
  overflow-wrap: break-word;
  font-family: "Patua One", sans-serif;
  font-size: 1.5em;
}

.game__sidebar__scoreboard:hover {
  font-size: 1.7em;
}

.game__sidebar__score-counter {
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.game__sidebar__power-btn,
.game__sidebar__start-btn,
.game__sidebar__next-round-btn {
  min-height: 90px;
  width: 50%;
  overflow-wrap: break-word;
}

.game__sidebar__power-btn {
  margin-bottom: 5vh;
  border: solid 2px rgb(223, 44, 44);
}

.game__sidebar__power-btn:hover {
  font-size: 1.2em;
}

.game__sidebar__start-btn {
  background-color: rgb(241, 154, 22);
  border: solid 2px rgb(180, 124, 38);
}

.game__sidebar__start-btn:hover {
  font-size: 1.2em;
}

.game__sidebar__next-round-btn {
  display: none;
  background-color: rgb(241, 154, 22);
  border: solid 2px rgb(180, 124, 38);
}

/* GAME INTERACTION STYLE */

/* arrow interaction */

.arrow--left--clicked {
  transform: scale(1.2, 1.2) rotate(var(--anticlockwise-rotate));
}

.arrow--right--clicked {
  transform: scale(1.2, 1.2) rotate(var(--clockwise-rotate));
}

.power-btn--clicked {
  background-image: linear-gradient(to bottom, red, yellow);
  color: rgb(255, 255, 255);
}

/* gk interaction */

.gk--left--fail-blocking {
  animation: gk--left--fail-blocking 0.5s;
}

.gk--left--succeed-blocking {
  animation: gk--left--succeed-blocking 0.5s;
}

.gk--left--hit-by-power-ball {
  animation: gk--left--hit-by-power-ball 1s;
}

.gk--right--fail-blocking {
  animation: gk--right--fail-blocking 0.5s;
}

.gk--right--succeed-blocking {
  animation: gk--right--succeed-blocking 0.5s;
}

.gk--right--hit-by-power-ball {
  animation: gk--right--hit-by-power-ball 1s;
}

.gk--left--fail-blocking,
.gk--left--succeed-blocking,
.gk--left--hit-by-power-ball,
.gk--right--fail-blocking,
.gk--right--succeed-blocking,
.gk--right--hit-by-power-ball {
  animation-fill-mode: forwards;
}

/* ball interaction */

.ball--go-left {
  transform: translate(
    var(--ball--left--moving-X),
    var(--ball--left--moving-Y)
  );
  transition: transform 0.3s;
}

.power-ball--go-left {
  animation: power-ball--go-left 0.5s;
}

.ball--go-right {
  transform: translate(
    var(--ball--right--moving-X),
    var(--ball--right--moving-Y)
  );
  transition: transform 0.3s;
}

.power-ball--go-right {
  animation: power-ball--go-right 0.5s;
}

.power-ball--go-left,
.power-ball--go-right {
  animation-fill-mode: forwards;
}

/* ANIMATION  */

/* gk animation */

@keyframes gk-jump {
  0% {
    transform: translate(0, 0);
  }

  25% {
    background-image: var(--gk--succeed-blocking);
    transform: translate(0, -1.5em) rotate(15deg);
  }

  50% {
    transform: translate(0, -2.5em) rotate(0deg);
  }

  75% {
    background-image: var(--gk--succeed-blocking);
    transform: translate(0, -1.5em) rotate(-15deg);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes gk--left--fail-blocking {
  0% {
    transform: scaleX(-1);
  }

  100% {
    background-image: var(--gk--fail-blocking);

    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scaleX(-1) rotate(45deg);
  }
}

@keyframes gk--left--succeed-blocking {
  0% {
  }

  100% {
    background-image: var(--gk--succeed-blocking);

    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      rotate(calc(var(--anticlockwise-rotate) * 2));
  }
}

@keyframes gk--left--hit-by-power-ball {
  0% {
  }

  30% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      rotate(var(--anticlockwise-rotate));
  }

  40% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      rotate(var(--anticlockwise-rotate));
  }

  50% {
    background-image: var(--gk--hit-by-power-ball);

    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      rotate(var(--anticlockwise-rotate));
  }

  60% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scale(1.1) rotate(var(--anticlockwise-rotate-minus-90));

    opacity: 0.8;
  }

  70% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scale(1.1) rotate(var(--anticlockwise-rotate-minus-180));

    opacity: 0.6;
  }

  80% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scale(1.1) rotate(var(--anticlockwise-rotate-minus-270));

    opacity: 0.4;
  }

  90% {
    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scale(1.1) rotate(var(--anticlockwise-rotate-minus-360));

    opacity: 0.2;
  }

  100% {
    background-image: var(--gk--hit-by-power-ball);

    transform: translate(var(--gk--left--moving-X), var(--gk--left--moving-Y))
      scale(0.8) rotate(calc(var(--anticlockwise-rotate-minus-360) * 2))
      scale(0);
  }
}

@keyframes gk--right--fail-blocking {
  0% {
  }

  100% {
    background-image: var(--gk--fail-blocking);

    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(45deg);
  }
}

@keyframes gk--right--succeed-blocking {
  0% {
  }

  100% {
    background-image: var(--gk--succeed-blocking);

    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(calc(var(--clockwise-rotate) * 2));
  }
}

@keyframes gk--right--hit-by-power-ball {
  0% {
  }

  30% {
    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(var(--clockwise-rotate));
  }

  40% {
    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(var(--clockwise-rotate));
  }

  50% {
    background-image: var(--gk--hit-by-power-ball);

    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(var(--clockwise-rotate));
  }

  60% {
    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      scale(1.1) rotate(var(--clockwise-rotate-add-90));

    opacity: 0.8;
  }

  70% {
    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      scale(1.1) rotate(var(--clockwise-rotate-add-180));

    opacity: 0.6;
  }

  80% {
    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(var(--clockwise-rotate-add-270));

    opacity: 0.4;
  }

  90% {
    transform: scale(1.1)
      translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      rotate(var(--clockwise-rotate-add-360));

    opacity: 0.2;
  }

  100% {
    background-image: var(--gk--hit-by-power-ball);

    transform: translate(var(--gk--right--moving-X), var(--gk--right--moving-Y))
      scale(0.8) rotate(var(--clockwise-rotate-add-360)) scale(0);
  }
}

/* power ball animation */

@keyframes power-ball--go-left {
  0% {
    transform: scale(1.4) rotate(var(--power-ball-rotate));
  }

  50% {
    transform: translate(
        var(--power-ball--left--moving-X),
        var(--power-ball--left--moving-Y)
      )
      scale(1.4) rotate(var(--power-ball-rotate));
  }

  100% {
    transform: translate(
        var(--power-ball--left--moving-X),
        var(--power-ball--left--moving-Y)
      )
      scale(1.4) rotate(var(--power-ball-rotate));

      opacity: 0;
  }
}

@keyframes power-ball--go-right {
  0% {
    transform: scale(-1.4, 1.4) rotate(var(--power-ball-rotate));
  }

  50% {
    transform: translate(
        var(--power-ball--right--moving-X),
        var(--power-ball--right--moving-Y)
      )
      scale(-1.4, 1.4) rotate(var(--power-ball-rotate));
  }

  100% {
    transform: translate(
        var(--power-ball--right--moving-X),
        var(--power-ball--right--moving-Y)
      )
      scale(-1.4, 1.4) rotate(var(--power-ball-rotate));

      opacity: 0;
  }
}
