@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* whole screen view */

main {
  width: 100vw;
  height: 100vh;
  padding: 0 0 0 1vw;
  display: flex;
}

/* left screen block */

.game__view {
  display: inline-block;
  width: 75%;
  height: 100%;
}

.game__view::before {
  content: "";
  width: 75vw;
  height: 50vh;
  position: absolute;
  opacity: 0.8;
  background: var(--goal) no-repeat center center/cover;
}

.game__view__action-area {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* left action-area */

.game__view__action-area__left-arrow {
  transform: rotate(var(--anticlockwise-rotate));
}

.game__view__action-area__left-arrow:hover {
  transform: scale(1.2, 1.2) rotate(var(--anticlockwise-rotate));
}

.game__view__action-area__right-arrow {
  transform: rotate(var(--clockwise-rotate));
}

.game__view__action-area__right-arrow:hover {
  transform: scale(1.2, 1.2) rotate(var(--clockwise-rotate));
}

.game__view__action-area__left-arrow,
.game__view__action-area__right-arrow {
  width: 15vw;
  height: 40vh;
  position: relative;
  top: 30vh;
}

/* center action-area */

.game__view__action-area__center {
  width: 20%;
  max-width: 120px;
  min-width: 80px;
  height: fit-content;
  position: relative;
  top: 20%;
}

.game__view__action-area__center__gk {
  height: 40vh;
  background: var(--gk) no-repeat;
  background-size: contain;
  position: relative;
  z-index: 2;
}

.game__view__action-area__center__gk:hover {
  animation: gk-jump 0.5s 2;
}

.game__view__action-area__center__ball {
  position: relative;
  top: 17vh;
  z-index: 2;
}

.power-ball-img {
  display: none;
  transform: scale(1.4);
  position: relative;
  top: -7vh;
}

/* right screen block */

.game__sidebar {
  display: inline-block;
  width: 25%;
  padding: 5px;
  text-align: center;
  position: relative;
}

.game__sidebar__scoreboard {
  background-color: rgb(128, 172, 207);
  width: 50%;
  margin: 0 auto;
  padding: 0 2px;
  overflow-wrap: break-word;
  font-family: "Patua One", sans-serif;
  font-size: 1.5em;
}

.game__sidebar__scoreboard:hover {
  font-size: 1.7em;
}

.game__sidebar__score-counter {
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.game__sidebar__power-btn,
.game__sidebar__start-btn,
.game__sidebar__next-round-btn {
  min-height: 90px;
  width: 50%;
  overflow-wrap: break-word;
}

.game__sidebar__power-btn {
  margin-bottom: 5vh;
  border: solid 2px rgb(223, 44, 44);
}

.game__sidebar__power-btn:hover {
  font-size: 1.2em;
}

.game__sidebar__start-btn {
  background-color: rgb(241, 154, 22);
  border: solid 2px rgb(180, 124, 38);
}

.game__sidebar__start-btn:hover {
  font-size: 1.2em;
}

.game__sidebar__next-round-btn {
  display: none;
  background-color: rgb(241, 154, 22);
  border: solid 2px rgb(180, 124, 38);
}